.container {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    background-color: teal;
    margin: 1px;

}

.box:hover {
    background-color: purple;
    cursor:cell ;
}



.body {
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}